* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/3-accordion/images/peakpx.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center
}


.contaienr {
    width: 60%;
    height: 250px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 3px #000;

}

#timer {
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 30px;
}

.buttons {
    text-align: center;
}

.buttons button {
    padding: 8px 12px;
    margin: 8px;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}