* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: seagreen;
    padding: 1rem;
}

button {
    padding: 12px 16px;
    outline: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: #c11717;
    color: #fff;
}

/* a class for done */
.done {
    text-decoration: line-through;
    color: gray;
}

.to-do-list {
    background-color: aqua;
    padding: 12px 16px;
    font-size: 2rem;
}