* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: seagreen;
    padding: 1rem;
}

button {
    padding: 12px 16px;
    outline: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: #c11717;
    color: #fff;
}

/* a class for done */
.done {
    text-decoration: line-through;
    color: gray;
}

.to-do-list {
    background-color: aqua;
    padding: 12px 16px;
    font-size: 2rem;
}

.hidden {
    display: none;
    transition: 2s ease-in;
}

.container {
    background-color: #c28d48;
    padding: 12px 16px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: auto;
}

.window {
    padding: 12px 16px;
    background-color: #c11717;
    position: relative;
    width: 20%;
    height: 200px;
}

.window i {
    position: absolute;
    top: 0;
    left: 0;
}

.window1 {background-color: aqua;}
.window2 {background-color: fuchsia;}
.window3 {background-color: magenta;}
.window4 {background-color: mediumspringgreen;}
