* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    background-color: #705ed6;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.header {
    background-color: #eec0e4;
    border-bottom: 1px solid black;
    padding: 12px 16px;
    color: #8474df;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.status,
.prority {
    display: flex;
    gap: 8px;
    margin: 0.25rem auto;

}

.input-field {
    margin: 1rem auto;

}

.input-field input {
    padding: 12px 16px;
    background-color: #ffffff;
    border: none;
}

.task-container {
    background-color: #8474df;
    flex: 1;
}

.task-container p {
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}

.btn {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    background-color: #eec0e4;
    color: #8474df;
    cursor: pointer;
    font-weight: bolder;
    box-shadow:
        inset 10px 10px 26px #ffffffaa,
        /* inner glow */
        0 0 0px #ffffffaa;
    /* outer soft light */


}

.add-task,
.actions-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}

.new-item {
    max-width: 300px;
    background-color: seagreen;
    text-align: center;
    font-size: 1rem;
    
}