* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/modalUI/images/forest.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.open-btn {
    position: absolute;
    top: 60%;
    left: 20%;
}

.open-btn button {
    padding: 12px 16px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 2rem;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0px 0px 10px green;
    transition: 2s;
}

.open-btn button:hover {
    background-color: #fff;
    color: #000;
}

.overlay {
    position: fixed;
    inset: 0;
    /* same as top:0; right:0; bottom:0; left:0 */
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.pop-up {
    background-color: #fff;
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    transform: translate(-50%, -50%);

    /*! create an animation */
    animation-name: drop;
    animation-duration: 1s;
    /* background-color: rgba(0, 0, 0, 0.3); */
}



.close-btn {
    font-size: 2rem;
    cursor: pointer;
    transition: all 2s;
}

.close-btn:hover {
    color: #ff0000;

}

.hidden {
    display: none;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; */
}

/* animation key frame */
@keyframes drop{
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}


/* ! must have a model container for it to work */