* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #212228;
    height: 100vh;
}

.card {
    position: fixed;  /* Must be fixed, key to position the card wherever we want */
    width: 400px;
    height: 400px;
    background-color: #AFDA9F;
    border-radius: 5px;
    cursor: pointer;
}