* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/3-accordion/images/peakpx.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 65%;
    background-color: #fff;
    color: #000;
    padding: 12px 16px;
    line-height: 1.2rem;
}

.accordion-title {
    font-size: 1.5rem;
    text-align: center;
}

.answer {
    display: none;
}