* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/3-accordion/images/peakpx.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 65%;
    background-color: #fff;
    color: #000;
    padding: 12px 16px;
    line-height: 1.2rem;
    border-radius: 2rem;
}

.accordion-title {
    font-size: 1.5rem;
    text-align: center;
}

.question {
    padding: 18px 0px;
    border-bottom: 1px solid #000;
    position: relative;
}

.question:after {
    content: '+';
    position: absolute;
    right: -5px;
    cursor: pointer;
}

.answer {

    /* display: none; */
    /* using the height and the overflow is better for accoridion */
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

/* active class */

.content-container.active .answer {
    max-height: 200px; /* something large enough */
}


/* !key lessons */
/* new css selector .content-container.active .answer */
/* 
You want the answer to open/close — NOT the whole container.

But you toggle the class on the container because it's what you click.
*/
