* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: black;
}

.container {
    background-color: rgb(169, 235, 235);
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 12px 16px;
}

.container h2{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: hsla(271, 85%, 31%, 0.567);
}

.input-field {
    width: 80%;
    margin: 24px;
}

.input-field input, button {
    padding: 12px 16px;
    margin: 2px;
    border: none;
    border-radius: 1rem;

}

.input-field button {
    cursor: pointer;
}