* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero-section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/quoteGenerator/images/books.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 200px;

}

.quote {
    flex: 1;
}

.title {
    padding: 12px 16px;
    margin-bottom: 1rem;
    background-color: #000000;
    border: 1px solid #ffffff;
}

.btn {
    margin: 0 auto;
}

button {
    cursor: pointer;
    border: none;
    padding: 12px 16px;
    background-color: #000000;
}