* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero-section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/quoteGenerator/images/books.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: auto;
    width: 500px;
    border-radius: 1rem;

}

.title {
    padding: 12px 16px;
    margin-bottom: 1rem;
    background-color: #000000;
    border: 1px solid #ffffff;
}

.quote {
    padding: 12px 16px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
}

.person {
    font-size: 1.4rem;
    color: goldenrod;
    text-align: center;
}
.btn {
    margin: 0 auto;
}

button {
    cursor: pointer;
    border: none;
    padding: 12px 16px;
    margin: 2px 0;
    background-color: #000000;
}