* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #ce6bce;
    padding: 12px 16px;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.to-do-container {
    background-color: aqua;
    padding: 0.75rem 1rem;
    color: #ce6bce;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}



.btn  {
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    margin: 0 auto;
    cursor: pointer;
    /* justify-self: flex-end; */
    
}

/* class for the div created in js */
.div {
    display: flex;
    gap: 2px;
}