* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #ce6bce;
    padding: 12px 16px;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 8px;
}

p {
    color: black;
    font-weight: 300;
    font-size: 1.25rem;
}

.to-do-container {
    background-color: aqua;
    padding: 0.75rem 1rem;
    color: #ce6bce;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 320px;
    border-radius: 2rem;
}



.btn {
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    margin: 0 auto;
    cursor: pointer;
    /* justify-self: flex-end; */
}

.btn:hover {
    background-color: gray;
}

.btn-icon {
    font-size: 0.75rem;
    background-color: transparent;
}

/* class for the div created in js */
.div {
    display: flex;
    gap: 2px;
    border-radius: 1rem;
    margin: 3px;
}

ul {
    max-height: 200px;
    overflow-y: scroll;
    flex: 1;
    list-style-type: none;
}

