* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgb(206, 107, 206);
    padding: 12px 16px;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}