* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    padding: 12px 16px;
    box-shadow: 8px 8px 12px black;
}

nav .logo {
    color: skyblue;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

nav .logo:hover {
    color: hsla(197, 71%, 73%, 0.757);
}

main {
    background-color: skyblue;
    height: 200px;
    width: 400px;
    margin: 4rem auto;
}

main .color-label {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

main button {
    margin: 24px 35%;
    padding: 12px 16px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
}

.color-pallete {
    height: 200px;
    width: 600px;
    background-color: red;
    display: grid;
}

.color {
    width: 200px;
    height: 100px;
    background-color: seagreen;
}

.hidden {
    display: none;
}