* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    padding: 12px 16px;
    box-shadow: 8px 8px 12px black;
}

nav .logo {
    color: skyblue;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

nav .logo:hover {
    color: hsla(197, 71%, 73%, 0.757);
}

main {
    background-color: skyblue;
    height: 200px;
    width: 400px;
    margin: 4rem auto;
}

main .color-label {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

main button {
    margin: 24px 35%;
    padding: 12px 16px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
}

.color-pallete {
    height: 220px;
    width: 620px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "redArea blueArea yellowArea"
    "greenArea orangeArea purpleArea";

    gap: 2px;
    border-radius: 1rem;
    padding: 12px;
    position: absolute;
    top: 248px;
    left: 400px;
}

.color {
    background-color: seagreen;
    cursor: pointer;
}

.red {background-color: #ff0000; grid-area: redArea;}
.blue {background-color: #0000ff; grid-area: blueArea;}
.yellow {background-color: #ffff00; grid-area: yellowArea;}
.green {background-color: #008000; grid-area: greenArea;}
.orange {background-color: #ffa500; grid-area: orangeArea;}
.purple {background-color:#800080 ; grid-area: purpleArea;}
 
.hidden { 
    display: none;
}